<h1>Show Guitar</h1>

<ul>

  <li>
    <strong>Model:</strong>
    <%= @guitar.model %>
  </li>

  <li>
    <strong>Year:</strong>
    <%= @guitar.year %>
  </li>

  <li>
    <strong>Is available:</strong>
    <%= @guitar.is_available %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.guitar_path(@conn, :edit, @guitar) %></span> |
<span><%= link "Back", to: Routes.guitar_path(@conn, :index) %></span>
